---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <h1>Kaisen Krishnamurthy</h1>

  <p>
    I am an undergraduate student at the University of Chicago studying
    mathematics and economics.
  </p>

  <p>
    I'm currently interested in economic development, asset pricing,
    and the effects of AI on society.
  </p>
</BaseLayout>
